@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nixieone';
    src: url('../fonts/nixieone-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #077054;
    color: #315f52;
    font-family: 'latoregular';
    font-size: 14px;
}

header {
    margin: 0, auto;
    max-width: 960px;
    padding-left: 189px;
    padding-bottom: 19px;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    padding: 30px 0;
    text-align: center;
}

header h1 a {
    color: #99fa99;
    text-decoration: none;
}

header h1 a span {
    color: #b6d8cf;
    display: block;
    text-align: center;
    font-size: 26px;
    font-family: 'nixieone';
    text-transform: uppercase;
}

header ul#navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul#navigation li {
    display: inline;
    line-height: 30px;
    position: relative;
}

header ul#navigation li a {
    color: #b6d8cf;
    font-size: 18px;
    padding: 0 46px;
    text-align: center;
    text-decoration: none;
}

header ul#navigation li a:hover,
#header ul#navigation li.current a ul li a:hover {
    color: #d3a3ff;
}

header ul#navigation li.current a {
    color: #99fa99;
}

header ul#navigation li ul {
    display: none;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 11px 0 0;
    position: absolute;
    top: 12px;
}

header ul#navigation li:hover ul {
    display: block;
}

header ul#navigation li ul li {
    background: #077054;
    display: block;
    height: 46px;
    line-height: 46px;
}

header ul#navigation li ul li a {
    padding: 0 20px;
}

header ul#navigation li.current ul li a {
    color: #b6d8cf;
}

#body {
    background: white;
    margin: 1px auto 0;
    max-width: 880px;
    min-height: 827px;
    overflow: hidden;
    padding: 45px 40px 46px;
}

#body>h2 {
    color: #21A51E;
    font-family: 'nixione';
    font-size: 35px;
    font-weight: normal;
    line-height: 30px;
}

#body img.figure {
    display: block;
    float: right;
    margin: 74px 38px 46px 0;
    max-width: 100%;
    width: auto;
}

#body div#tagline {
    float: left;
    margin: 110px 0px 0px 25px;
    max-width: 510px;
}

#body div#tagline h1 {
    background: url('../img/bg-separator.png') no-repeat center bottom;
    color: #21a51e;
    font-family: 'nixieone';
    font-size: 100px;
    line-height: 100px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 0 0 55px;
}

#body div#tagline p {
    color: #21a51e;
    font-family: 'nixieone';
    font-size: 100px;
    line-height: 100px;
    font-weight: normal;
    padding: 43px 0 0;
    text-align: center;
}

#body form {
    margin: 25px auto 0;
    overflow: hidden;
    width: 460px;
}

#body form label {
    display: block;
    padding: 15px 0 0;
}

#body form label span {
    display: block;
    line-height: 27px;
    padding: 0 0 9px;
    margin-top: 10px;
}

#body form label input {
    background: #f2f2f2;
    border: 1px solid #b6d8cf;
    color: #315f52;
    display: block;
    font-family: 'latoregular';
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    padding: 0 5px;
    width: 448px;
}

#body form label textarea {
    background: #f2f2f2;
    border: 1px solid #b6d8cf;
    color: #315f52;
    display: block;
    font-family: 'latoregular';
    font-size: 14px;
    height: 250px;
    line-height: 30px;
    overflow: auto;
    padding: 0 5px;
    resize: none;
    width: 448px;
}

#body form input#send {
    background: #077054;
    border: none;
    border-radius: 5px;
    color: #99fa99;
    cursor: pointer;
    font-family: 'latoregular';
    font-size: 14px;
    float: right;
    width: 69px;
    margin: 8px 0 0;
    height: 44px;
    letter-spacing: 1px;
}

#body form input#send:hover {
    background: #d3a3ff;
    color: black;
}

footer {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 30px 0 60px;
}

footer div {
    float: left;
    width: 500px;
}

footer div span {
    color: #b6d8cf;
    display: block;
    font-size: 26px;
    line-height: 24px;
}

footer div p {
    color: #b6d8cf;
    font-size: 12px;
    line-height: 30px;
}

footer div#connect {
    float: right;
    overflow: hidden;
    width: auto;
}

footer div#connect a {
    background: url('../img/icons.png') no-repeat;
    text-indent: -99999px;
    float: left;
    display: block;
}

footer div#connect a#facebook {
    background-position: 0 0px;
    height: 30px;
    width: 16px;
}

footer div#connect a#twitter {
    background-position: 0 -30px;
    height: 30px;
    margin: 0 0 0 19px;
    width: 37px;
}

footer div#connect a#googleplus {
    background-position: 0 -61px;
    height: 30px;
    margin: 0 0 0 19px;
    width: 32px;
}

footer div#connect a#pinterest {
    background-position: 0 -94px;
    height: 32px;
    margin: 0 0 0 19px;
    width: 32px;
}

footer div#connect a# {
    background-position: 0 -61px;
    height: 30px;
    margin: 0 0 0 19px;
    width: 32px;
}

